.billing-container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table {
}
.table-header {
  font-weight: 600;

  padding: 10px 20px;
  border-bottom: #b239396f solid 2px;
}

.table-items {
  padding: 10px 20px;
  border-bottom: #393bb224 solid 2px;
}
.table-header,
.table-items {
  display: flex;
}
.s {
  width: 170px;
}
.no {
  width: 50px;
}

.Bill-view-container {
  position: absolute;
  inset: 0; /* shorthand for top: 0; bottom: 0; left: 0; right: 0; */
  background: #000000ac;
  padding: 30px;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
}
.Bill-box {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  min-height: 800px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}

.bill-header {
  padding: 40px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d71c6;
}

.bill-close {
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
  color: #000;
  font-size: 1.6rem;
}

.bill-customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-weight: 300;
  font-size: 0.9rem;
}

.bold {
  font-weight: 600;
}

.bill-deatils {
  margin-top: 30px;
  padding: 0px 50px;
}
.bill-deatils h2 {
  text-align: center;
  font-weight: 500;
}
.tds {
  text-align: center;
  height: 20px;
}
.tds-a {
  color: #00000051;
}

.bill-items {
  margin-top: 20px;
}
.bill-total {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  margin-top: 10px;
  font-weight: 700;
  border-bottom: #00000051 solid 2 px;
  padding-bottom: 10px;
  color: #e61717;
}

.bill-footer {
  align-self: self-end;
  margin-top: auto;
  padding: 0 30px;
  width: 100%;
}

.cancel-button {
  background-color: #ffffff; /* Green */
  color: rgb(0, 0, 0);
  border: none;
  border: #000000 solid 1px;
  padding: 13px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  float: left;
}
.print-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  padding: 13px 23px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  float: right;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2441c3; /* Green */
  color: white;
  border: none;
  padding: 13px 23px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  float: right;
  margin-right: 10px;
}

.print-button:hover {
  background-color: #45a049;
}

.bill-alert {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;
  margin-top: 20px;
}
.bill-alert-failed {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 60px;
  width: 84%;
  background: #fffccb;
  border-radius: 20px;
  border: #f7941d solid 1px;
  gap: 10px;
}

.bill-alert-success {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 60px;
  width: 85%;
  background: #e1ffe5;
  border-radius: 20px;
  border: #000000 solid 1px;
  gap: 10px;
}

.bill-cash-pay {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.bill-cash-pay input {
  padding: 15px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
}
