.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
}

.logo-container {
  width: 40%;
  color: rgb(29, 117, 194);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.link-container {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
  list-style: none;
  text-decoration: none;
}

.links {
  width: 80px;
}
.elink {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.active {
  transition: all 0.2s ease-in-out;
  color: rgb(67, 124, 229);
  font-weight: 500;
}

.elink:hover {
  color: rgb(19, 62, 142);
  transition: all 0.5s ease-in-out;
}
.username {
  padding: 13px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(42, 110, 165);
  color: white;
  font-size: 1rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 10px;
}
.logout {
  border: none;
  border-radius: 8px;
  color: brown;

  cursor: pointer;
}
.logout:hover {
  color: rgb(179, 61, 61);
}

@media screen and (max-width: 800px) {
  .nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px;
  }
  .link-container {
    width: 500px;

    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .link-container {
    gap: 40px;
  }
}
